*.a
*.o
*.so
*.dylib
*.dll
*.obj
*~
*swi_glue.c
Grammar/grammar_lc.pl
Grammar/penalty_weights.pl
Hdrug/Makefile.hdrug
Lexicon/lex.t
Lexicon/lex_accent0.pl
Lexicon/lex_inv.t
Lexicon/lex_prefix.t
Lexicon/lex_with_dt0.pl
Makefile.defs
Names/features.pl
Names/seeds
PosTagger/tagger
SuffixArrays/suffix_array
Suites/cgn_exs.pl
Suites/conll2006-test.pl
Suites/extra.pl
Suites/g_suite.pl
Suites/h_suite.pl
Suites/i_suite.pl
Suites/lassy.pl
Suites/leuven_yellow_pages.pl
Suites/lot_test_suite1.pl
Suites/nlwikipedia-selection.pl
Suites/qa_extra.pl
Suites/wpspel.pl
Tokenization/entities
Tokenization/tok
Tokenization/tok_no_breaks
TreebankTools/IndexedCorpus/libcorpus.a
TreebankTools/IndexedCorpus/python/IndexedCorpus-1.0.egg-info
TreebankTools/bin/dttred
TreebankTools/miniact/miniact
TreebankTools/stylesheets/sanity-checks.xsl
fadd/maketuple.pl
fadd/print_tuple.pl
fadd/test_fadd
version
man/
lib/
bin/hdrug
.nfs*
Test1
TestN
TestG
TestL
TestLEM
TestM
TestN2
TestP
TestS
Specialization/CGN/
Suites/LassySmall.pl
Suites/PPH.named_sents
Suites/PPH.pl
Suites/PPI.named_sents
Suites/PPI.pl
Suites/Toeslagenaffaire.named_sents
Suites/Toeslagenaffaire.pdf
Suites/Toeslagenaffaire.pl
Suites/Toeslagenaffaire.txt
Suites/WIKI.pl
Suites/WSU.named_sents
Suites/WSU.pl
Suites/dpc-rou.named_sents
Suites/dpc-rou.pl
Suites/wpspel-all.pl
Suites/wpspel-all.sents
Treebank/LassySmall/
Treebank/PAIR/
Treebank/PE/
Treebank/PL/
Treebank/PPH/
Treebank/PPI/
Treebank/WIKI/
Treebank/WSU/
Treebank/best/
Treebank/dpc/
Treebank/fast/
Treebank/lassy
update_hpc
