words
prefix2
prefix3
*.fsa
*.tpl
*.wd0
*.wd1
*.wd2
*.wd3
rest
tag2
tag3
tag4
tags
tagWord
usedContext
wordTag
wordTagLex
*.tmi
*.tmo
*.sfr
*.log.gz
*.la
*.la.log
*.la.testing
*.la.testing0
*.frames.testing
*.fr
context3
context
mistakes.txt
TRAINING/getNGD
TRAINING/getNGD2
TRAINING/getngd
TRAINING/getngd2
TRAINING/getngdpost
TRAINING/getngdpre
log
createlex
lexicon_files
sufLexAll
sufLexCaps
sufLexNonCaps