alp_escape.c
entities.c
libtok.c
libtok_no_breaks.c
tokenize_after_breaks.m
tokenize_before_breaks.m
words_afkorting_after.m
words_afkorting_with_number.m
words_afkortingen.m
words_ambiguous_afkorting_after.m
words_poule.m
words_titel.m

