.Suites/
Titaantjes-orig/
Titaantjes-silver/
Titaantjes/
cdb_part0/
cdb_part1/
cdb_part2/
cdb_part3/
cdb_part4/
cdb_part5/
cdb_part6/
cdb_part7/
cdb_part8/
cdb_part9/
cgn_exs/
eans/
extra/
g_suite/
h_suite/
i_suite/
j_suite/
lassy-doc/
leuven_yellow_pages/
lot_test_suite1/
m_suite/
nohup.out
novelsample_corrected/
ovistest/
qa/
wpspel/
cgnn/
cgnv/

