Alpino.bin
Alpino.sav.spresdata
spldgen_s_data_resourceAlpino.sav.c
spldgen_s_data_resourcesprt.sav.c
spldgen_s_main_wrapper.c
spldgen_s_prolog_rtable.c
spldgen_s_restore_main.c
sprt.sav.spresdata
								