cdb.poslemma
cgn_exs.poslemma
conll2006-test.poslemma
eans.poslemma
extra.poslemma
g_suite.poslemma
h_suite.poslemma
i_suite.poslemma
leuven_yellow_pages.poslemma
lot_test_suite1.poslemma
novelsample_corrected.poslemma
ntv-suite.poslemma
qa.poslemma
wpspel.poslemma
