K/
Titaantjes/
cdb_part000*.errors
cdb_part000*
cgn_exs/
eans/
extra.errors
extra/
g_suite/
h_suite/
i_suite/
j_suite/
lassy-doc/
lassysmall_part000*.errors
lassysmall_part000*
leuven_yellow_pages/
lot_test_suite1/
nohup.out
novelsample_corrected/
ovistrain/
qa/
wpspel/
*.out
*.bak
*.new
*.keys
*.timeout
