novelsample_corrected.pl
dpc-ind.pl
journaal.pl
noisy-cleaned.pl
noisy.pl
ovis.pl
oviswgbest.pl
oviswg.pl
qa.pl
cgn.sents.gz
C
D
E
I
L
P
U
W
X
m_suite.pl
Titaantjes*.pl
btest.pl
mwu_alt.pl
*.po
j_suite.named_sents0
j_suite.named_sents
j_suite.pl
lassy-doc.pl
lassysmall_part00*
cdb_part00*
extra.named_sents
g_suite.named_sents
h_suite.named_sents
i_suite.named_sents
leuven_yellow_pages.named_sents
lot_test_suite1.named_sents
m_suite.named_sents
ovis.named_sents
