Machine/
novelsample_corrected.pl
dpc-ind.pl
journaal.pl
noisy-cleaned.pl
noisy.pl
ovis.pl
oviswgbest.pl
oviswg.pl
qa.pl
tt
tt.sents
tu
tu.sents
tt.pl
tu.pl
cgn.sents.gz
C
D
E
I
L
P
U
W
X
tt_part*sents.gz
tu_part*sents.gz
m_suite.pl
Titaantjes*.pl
btest.pl
mwu_alt.pl
*.po
j_suite.named_sents0
j_suite.named_sents
j_suite.pl
lassy-doc.pl
lassysmall_part00*
cdb_part00*