cdb
cdb.dact
cgn_exs
cgn_exs.dact
eans
eans.dact
extra
extra.dact
g_suite
g_suite.dact
h_suite
h_suite.dact
i_suite
i_suite.dact
leuven_yellow_pages
leuven_yellow_pages.dact
lot_test_suite1
lot_test_suite1.dact
novelsample_corrected
novelsample_corrected.dact
ntv-suite
ntv-suite.dact
qa
qa.dact
wpspel
wpspel.dact
Titaantjes
Titaantjes.dact
lassy
